{% extends "postimage/base.html" %}
{% block content %}
  {% for post in posts %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ imej.owner.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ imej.owner }}</a>
          <small class="text-muted">{{ imej.date_posted|date:"F d, Y" }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'postImage-detail' imej.id %}">{{ imej.title }}</a></h2>
        <p class="article-content">{{ imej.content }}</p>
        <img src="{{ imej.cover.url }}" alt="{{ imej.title }}">
      </div>
    </article>
{% endfor %}
{% endblock content %}